@use './variables' as *;

:where(.container-large) {
    max-width: min(100% - 2rem, 1200px);
    margin-inline: auto;
}

:where(.container-medium) {
    max-width: min(100% - 2rem, 900px);
    margin-inline: auto;
}

:where(.container-small) {
    max-width: min(100% - 2rem, 600px);
    margin-inline: auto;
}

:where(.container-tiny) {
    max-width: min(100% - 2rem, 400px);
    margin-inline: auto;
}

.d-flex {
    display: flex !important;
}

.color-primary {
    color: $primary-color;
}

.color-secondary {
    color: $secondary-color;
}

.text-center {
    text-align: center;
}