.img-fader {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;


    
    & > img {
        grid-row: 1;
        grid-column: 1;

        width: 100%;
        max-height: 750px;

        object-fit: cover;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}